<%- include('header')-%>
<%- include('navbar', {page : 'coffees'})-%>
  
    <div class="container">
      <h1>Coffees</h1>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>State</th>
              <th>&nbsp;</th>
            </tr>

            <% coffeeList.forEach(function(coffee){%>
              <tr>
                <td><%= coffee.name%></td>
                <td><%= coffee.price%></td>
                <td><%= coffee.state%></td>
                <td>
                  <a href="/coffee/<%= coffee._id %>/edit" class="btn btn-small btn-primary">Update</a>
                  <a href="/coffee/<%= coffee._id %>/delete" class="btn btn-small btn-danger">Delete</a>
                </td>
              </tr>
            <% }); %>
          </table>
          <br />
          <div class="d-grid gap-2">
            <a href="/coffee/new" class="btn btn-primary"> Add new coffee </a>
          </div>
        </div>
      </div>
    </div>
<%- include('footer')-%>
