<%- include('header')%>
<%- include('navbar', {page : 'tables'})-%>

    <div class="container">
      <h1>Tables</h1>
      <br>
      <div class="row">
      <% tableList.forEach(function(table){%>

        <div class="col-12 col-sm-4">
          <div class="card">
            <div class="card-header <%if(table.state === 'empty'){
            %> text-bg-light<%
            }else if(table.state === 'occupied'){
            %>text-bg-success<%
            }else if(table.state === 'reserved'){
            %> text-bg-danger<%
            }%> "> <%= table.state.charAt(0).toUpperCase() + table.state.slice(1)-%> </div>
            <div class="card-body">
              <h5 class="card-title"> Table <%= table.num-%></h5>
            </div>
            <div class="card-body">
              <a href="/table/<%=table._id%>" class="btn btn-small btn-primary">Update</a>
              <a href="/table/<%=table._id%>/delete" class="btn btn-small btn-danger">Delete</a>
            </div>
          </div>
        </div>

      <% }); %>
      </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <br />
          <div class="d-grid gap-2">
            <a href="/table/new" class="btn btn-primary">Add new table</a>
          </div>
        </div>
      </div>
    </div>

<%- include('footer')-%>